* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    !!overflow-x:hidden;
}
body {
        font-family: MonumentGrotesk-Regular, sans-serif, -apple-system;
}

.bg {
    min-height: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.header {
    position:sticky;
    z-index:100;
    top:0;
}
li {
    list-style-type: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: black;
}
.navbar-dark .navbar-nav .nav-item {

    color: white;
}
.navbar-dark .navbar-nav .nav-item:hover {
    color: orange;
}
.navbar-dark .navbar-toggler {
    border: none;
    color: white;
}

.nav-item {
    padding: 15px 5px;
    cursor: pointer;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(155, 132, 124, 0.25);
    backdrop-filter: blur(0.65rem);
}
.submenu-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    background-color: #FFFDD0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 1.6rem;
}
.submenu-main {
    display: flex;
    margin: 1rem 0px 1rem 3.8rem;
}
.submenu-main .header-column{
    font-family: MonumentGrotesk-Regular, sans-serif, -apple-system;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.submenu-column {
    margin-right: 1.4rem;
    min-width: 12.4rem;
}
.submenu-column .submenu-item{
    font-family: MonumentGrotesk-Regular, sans-serif, -apple-system;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 0.9rem;
    line-height: 1.4;
}
.cart {
    display:flex;
}
.tote-title {
    margin-right: 3%;
}
.account-title {
    padding: auto;
}
.account .menu {
    display: none;
    position: absolute;
    overflow: hidden;
    left: -5%;
    top: 50px;
    width: 100%;
    transition: max-height .6s;
    transition-delay: .25s;
}
#myaccount-dropdown {

}
.menu .menu-wrapper {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    top: 10px;

}
.for-animation {
    background-color: #fff;
    border: 1px solid #ddd;
       transition: transform .6s;
    transition-delay: .25s;
    transform: translateY(0);
    box-shadow: -2px 2px 4px 0 rgba(45,45,45,.14);
    min-height: 255px;
    max-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}
.first-line {
    padding: 0 4%;
    background-color: #eee;
    display: flex;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
}
.hello {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    padding-left: 1em;
}
.hello .text {
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 800;
    color: #2d2d2d;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 1em;
}
.hello .exit {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    letter-spacing: .4px;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
}
.account .list {
    margin-bottom: 0;
}
.account .account-li {
    font-size: 1rem;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #2d2d2d;
    display: block;
    line-height: 50px;
    padding-left: 50px;
    text-decoration: none;
    position: relative;
    margin-left: 11px;
    letter-spacing: 0;
}
.logo {
    justify-content: center;
    text-align: center;
}
.header-line {
    display:flex;
}

.account {
    justify-content: center;
}
.logo-text {
    font-family: 'Anton';
    font-size: 34px;
    color: white;
}
.logo-text:hover {
    color: white;
}

.fullscreen-video-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #7EBCE1;
}
.fullscreen-video {
    position: relative;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fullscreen-video video {
    object-fit: cover;
    object-position: center center;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
}
.page-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text {
    text-transform: uppercase;
    font-size: 3.2rem;
    color: black;
    font-family: 'Alata';
}

img {
    width: 100%;
}
a:hover  {
    text-decoration: none;
    color: black;
}

.all-items {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
	align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.item {
    flex-wrap: wrap;
    margin: 1% 0;
    display: list-item;
    list-style: none;
    width: calc(((((100% - (2 * 0px) - (2.4500000000000000rem * (12 - 1 ))) / 12) * 3) + ((2) * 2.4000000000000004rem)) + (0 * 2.4000000000000004rem));
}

.item-info {
    display: flex;
    margin: 0 0.6rem;
}
.item-price {
    margin-left: auto;
    display: flex;
}
.span-item-price, .item-name {
    font-size: 1.4rem;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.footer {
    color: white;
    background: black;
    padding: 2% 0;
    flex: 0 0 auto;
}

.logo-img {
    width: 100px;
    height: 100px;
    border: solid 2px white;
}
.img-container {
    text-align: center;
    margin-bottom: 1%;
}
.footer .container {
    padding: 0 0;
    display: flex;
}
.subscribe {
    max-width: 50%;
    border-right: solid 2px white;
}
.about {
    width: 50%;
}
.subscribe-info {
    width:70%;
}
.privacy {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.footer label {
    margin-bottom: 0;
}
.footer .form-control {
    border-radius: 0;
}
.areyou {
    padding: 0.5rem 0;
    margin-bottom: 0;
}
.gender {
    display: flex;
}
.some-gender {
    padding-right: 1.5rem;
}
.footer .form-sub {
    margin: 1rem 0;
}
.footer .btn-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.8rem;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: solid 0.2rem white
}
.footer a:hover  {
    text-decoration: none;
    color: orange;
}
.footer a {
    color: white;
}
.help-item {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 7px;
}
.nav-info {
    margin-left: 30%;
    display:flex;
}
.help {
    width: 30%;
    margin-right: 10%;
}
.social-networks {
    margin-top: 15%;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn.btn-social-icon {
    width: 35px;
    height: 35px;
    padding: 0;
}


.btn.btn-rounded {
    border-radius: 50px;
}
.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}




.product-content {
    margin: 3% 1.5%;
    display: flex;
}
.img-wrapper {
    margin: 0 2.5%;
    display: flex;
    width: 50%;
}
.other-images-wrapper {
    width: 15%;
}
.other-images{

    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.other-images img {
    margin-bottom: 15%;
}


.main-img{
   margin-left: 2%;
   width: 85%;
}

.text-content {
    margin: 0 2.5%;
    width: 25%;
}
.product-header {
    margin-bottom: 5px;
    font: 100 2.2rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
.text-content .product-price {
    margin-bottom: 10px;
    font: 100 2.2rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
.color {
    font-weight: 500;
    margin-bottom: 10px;
    font: 1.5rem Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
.size-box {
    display: inline-block;
}
.radio-label {
    cursor: default;
    font: 1rem/normal Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    min-height: 40px;
    padding: 18px 10px 9px;
    border: 1px solid #ddd;
    line-height: 0;
    text-align: center;
    color: #767676;
    background-color: #fff;
}
.radio-input {
    opacity: 0;
    margin: 0;
    position: absolute;
    padding: 0;
}
.li-is-disabled {
    border-color: #ddd;
    color: #ddd;
    background-color: #fff;

}
.is-disabled {
    border: 1px solid #ddd;
    line-height: 0;
    text-align: center;
    border-color: #ddd;
    color: #ddd;
    background-color: #fff;
}

.size-box .is-disabled:hover {
    border: 1px solid #ddd;
    line-height: 0;
    text-align: center;
    border-color: #ddd;
    color: #ddd;
    background-color: #fff;
}
.size-guide a {
    margin-bottom: 10px;
    letter-spacing: inherit;
    text-align: left;
    color: black;
    font-size: 1em;
    text-decoration: underline;
}
.size-guide a:hover {
    text-decoration: none;
}
.size-box label:hover{
    background: #EFEAEA;
    color: #222;

}
.size-box input[type="radio"]:checked+label{
    color: #222;
    border-color: #222;
}


.login-container{
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 4%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-wrapper {
    margin: 2% 0;
    max-width: 400px;
    background: whitesmoke;
    border-radius: 5px;
}
.login-container form{
    padding: 5% 0%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.add-to-cart {
    margin: 25px 0;
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
    line-height: 1.2;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color,background-color,border-color;
    min-height: 45px;
    border: 1px solid #222;
    font-size: 1.8rem;
    color: #fff;
    background-color: #222;
}

#cart {
    display: flex;
    background-color: rgb(209, 182, 147);
    width: 100%;
    color: black;
    min-height: calc(100vh - 4.9rem);
}
#cart .header-text {
    color: rgb(0, 0, 0);
    font-family: Gopher-Medium, sans-serif, -apple-system;
    font-weight: 500;
    text-transform: uppercase;
}
.summary-block {
    width: 30%;
    margin-top: 3%;
    padding-right: 6.8rem;
}
.summary-header {
        color: rgb(0, 0, 0);
    font-family: Gopher-Medium, sans-serif, -apple-system;
    font-weight: 500;
    text-transform: uppercase;
}
.summary-wrapper {

    display: flex;
    padding: 1% 0;
    flex-direction: column;
    place-content: start flex-start;
    height: 100%;
}
.summary {
    padding-bottom: 10%;
    color: rgb(0, 0, 0);
}
.summary-info {
    font-size: 1.5rem;

}
.summary-info .price {
    font-weight: 400;
    font-size: 1.4rem;
}
.summary-info-header{
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-weight: 500;
}
.proceed_to_checkout-wrapper {
    margin-top: 2rem;
    display: flex;
}
.proceed_to_checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: white;
    border: 0.1rem solid rgb(0, 0, 0);
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem;
    font-weight: 500;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    color: #fff;
    background-color: #222;
}
.proceed_to_checkout .text {
    color: white;
    font-family: MonumentGrotesk-Regular, sans-serif, -apple-system;
}
.subtotal {
    display:flex;
    justify-content: space-between;
    line-height: 1.33;
    color: rgb(0, 0, 0);

}
.shipping {
    display:flex;
    justify-content: space-between;
    line-height: 1.33;
    color: rgb(0, 0, 0);
}
.total {
    display:flex;
    justify-content: space-between;
    line-height: 1.33;
    color: rgb(0, 0, 0);
}
.cart-main {
    width: 70%;
    flex-grow: 1;
    background-color: rgb(209, 182, 147);
}
.cart-wrapper {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    place-content: start flex-start;
    height: 100%;
}
#cart .main-info {

    width: 100%;
}
#cart .cart-info {
    width: 100%;
}
.cart-headers {
    padding: 2% 1%;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
}
.cart-header-item {
    font-size: 1.2rem;
    width: 42%;
}

.cart-header-size {
    font-size: 1.2rem;
    width: 13%;
}
.cart-header-qty {
    font-size: 1.2rem;
    width: 9%;
}
.cart-header-price {
    font-size: 1.2rem;
    width: 15%;

}

.li-item {
    border-bottom: 1px solid black;
        list-style-type: none;

}
.li-item .product {
    padding: 3% 0;

}
.product-text-wrapper {
    max-height:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}
.remove-wrapper {
    width: 70%;
    margin-left: 16%;
    max-height: 2rem;
    display: flex;
}
.product .img {
    width: 14%;
}
.product-info {
    width: 28%;
    padding: 0 2%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.mv-to-wishlist {
    border: none;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#cart a {
    color: black;
}
.product-size {
    margin-right: 5%;
    width: 8%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.product-qty {
    margin-right: 3%;
    width: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.product .text {
        display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 1.8rem;
    line-height: 1.33;
    text-align: justify;
}
.product-price {
    margin-right: 7%;
    width: 7%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 1.8rem;
    line-height: 1.33;
    text-align: justify;
}
.product-remove {
    line-height: 1;
    justify-content: flex-end;
    background: none;
    margin-right: 2%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.btn-remove {
    padding: 0px;
    width: auto;
    border: none;
    height: inherit;
    cursor: pointer;
    background: none;
    position: relative;
}
.remove-span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 0.2rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
}
.select {
    font-size: 1.4rem;
    min-width: 0px;
    flex: 1 1 0%;
    appearance: none;
    background-color: transparent;
    padding: 1rem 1rem;
    border: 0.1rem solid rgb(0, 0, 0);
    }
.size-select {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.select-icon {
    position: absolute;
    right: 1.2rem;
    font-size: 1.4rem;
    pointer-events: none;
}
.select-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
}
/*CHECKOUT page*/
#checkout {
    background: #f2f2f2;
    min-height: 100vh;
}

.checkout-header {
    margin: 0 6.8rem;
}
.checkout-header .header-text {
    font-weight: 600;
    text-align: center;
}
.checkout-main {
    margin:3% 0;
    display: flex;
    padding: 0 10.8rem;

}
.checkout-main .main-info {
    width: 75%;
    padding-right: 15%;

}

.checkout-summary {
    padding: 20px 30px;
    height: 100%;
    width: 35%;
    background: white;
}

.promocode-wrapper {
    background: #fff;
    overflow: hidden;
    margin: .625rem 0;
    padding: 1.25rem 2rem;
}

.promocode-wrapper .header {
    flex: 1 0;
}
.promocode-label {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.4rem;
}

#promocode {
    width: 65%;
    font-size: 1.4rem;
    line-height: 1.4;
    min-width: 0px;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem 0.8rem;
    color: rgb(0, 0, 0);
}
.promocode-input {
    justify-content: space-between;
    display: flex;
    height: 3.5rem;
}
.promocode-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: white;
    border: 0.1rem solid rgb(0, 0, 0);
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem;
    font-weight: 600;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    color: #fff;
    background-color: #222;
}

.email-wrapper {
    background: #fff;
    overflow: hidden;
    margin: .625rem 0;
    padding: 1.25rem 2rem;
}

.email-wrapper .header {
    flex: 1 0;
}
.email-input {
    width: 65%;
    font-size: 1.4rem;
    line-height: 1.4;
    min-width: 0px;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem 0.8rem;
    height: 3.5rem;
    color: rgb(0, 0, 0);
}
.shipping-wrapper {
    background: #fff;
    overflow: hidden;
    margin: .625rem 0;
    padding: 1.25rem 2rem;
}
.shipping-wrapper .header {
    margin-bottom: 2rem;
}
.shipping-label {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.25rem;
}

.shipping-wrapper .name{

     width: 65%;
    font-size: 1.3rem;
    line-height: 1.3;
    min-width: 0px;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #999;
    padding: 1rem 0.8rem;
    height: 3rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}

.btn-submit {
    margin: 25px 0;
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color,background-color,border-color;
    min-height: 45px;
    border: 1px solid #222;
    font-size: 1.8rem;
    color: #fff;
    background-color: #222;
}
.cart-row {
    display: flex;
    margin-bottom: 5%;
}
.row-image {
    width: 27%;
}
.row-info {
    width: 68%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.row-price {
    padding: 0.4rem 0;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: .8rem;
    letter-spacing: 1.6px;
}
.row-name {

    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1rem;
    margin: .3rem 0 ;
}
.row-color {
    padding-right: 10%;
}
.color-size {
    line-height: 1rem;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: .3rem 0 ;
    font-size: 1rem;
    display: flex;
}
.row-quantity {

    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1rem;
    margin: .3rem 0 ;
}
.row-quantity-text {
    line-height: 1rem;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: .3rem 0 ;
    font-size: 1rem;
}
@media (max-width: 760px) {
    .item {
        width: calc(50% - 0.8rem);
        margin-right: 1.6rem;
        }
    .item:nth-of-type(2n) {
            margin-right: 0;
        }
    .other-images {
        display: none;
    }
}
@media screen and (min-width:761px) and (max-width:1440px) {
    .item {
        width: calc((100% / 3) - 1rem);
        margin-right: 1.5rem;
    }
    .item:nth-of-type(3n) {
        margin-right: 0;
    }
    .other-images {
        display: none;
    }
}
@media screen and (min-width:1440px) {
    .item {
        width: calc(25% - 1.5rem);
        margin-right: 2rem;
    }
    .item:nth-of-type(4n) {
        margin-right: 0;
    }

}
