{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fix: create new directory for fonts    -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Alata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>
</head>

<div id="root">
    <div class="bg">
        <div class="fullscreen-video-wrap">
            <div class="fullscreen-video">
                <video autoplay loop playsinline muted data-test="video-video" class="video">
                    <source src="{% static 'img/light.mp4' %}"
                            type="video/mp4" data-test="video-source">
                </video>
            </div>
        </div>
        <header class="header">
            <nav class="navbar px-5 navbar-expand-md navbar-dark">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="row collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav col-md-3">
                        <div class="dropdown-women">
                            <a href="/women/" class="nav-item dropbtn nav-link">WOMEN</a>
                        </div>
                        <div class="dropdown-men">
                        <a href="/men/" class="nav-item dropbtn nav-link">MEN</a>
                        </div>
                    </div>

                    <div class="logo col-md-6">
                        <a href="/" class="logo-text ">Python Project</a>
                    </div>
                    <div class="navbar-nav col-md-3 account pr-0">
                        <a href="#" class="account-title nav-item nav-link ">ACCOUNT</a>
                        <div class="menu" data-testid="myaccount-dropdown" id="myaccount-dropdown">
                            <div class="menu-wrapper">
                                <div class="for-animation">
                                    <div class="first-line">
                                        <div class="hello">
                                            <span class="text">Привет, {{request.user}}</span>
                                            <span class="exit">
                                                <a class="" href="/logout/" data-testid="signout-link" tabindex="0">Выйти</a>
                                            </span>
                                        </div>
                                        <button type="button" class="close" aria-label="Close">
                                            <span class="close-span" aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <ul class="list">
                                        <li>
                                            <a href="/login/" class="account-li" tabindex="0"
                                               data-testid="myaccount-link">Личный кабинет</a></li>
                                        <li>
                                            <a href="" class="account-li" tabindex="0"
                                               data-testid="myorders-link">Мои заказы</a></li>
                                        <li>
                                            <a href=""
                                               class="account-li" tabindex="0"
                                               data-testid="returnsinformation-link">Информация о возвратах</a></li>
                                        <li>
                                            <a href="" class="account-li" tabindex="0"
                                               data-testid="contactpreferences-link">Предпочтительные способы связи</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="/cart/" class="nav-item nav-link tote-title">TOTE - {{cartItems}}</a>
                        <a href="#" class="nav-item cart cart-title">
                            <svg width="1.5em"  viewBox="0 0 39 39" class="css-j8tnu9 ebf4h9c7">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-1306.000000, -560.000000)">
                                        <g transform="translate(1306.000000, 560.000000)">
                                            <g>
                                                <path d="M29.1828794,6.05440415 L29.1828794,3.10880829 L29.1828794,3.10880829 L26.2645914,0 L11.7354086,0 L8.80933852,3.10880829 L8.80933852,3.10880829 L8.80933852,6.05440415 L0,6.05440415 L0,30 L38,30 L38,6.05440415 L29.1828794,6.05440415 Z M11.7354086,3.10880829 L26.2645914,3.10880829 L26.2645914,6.05440415 L11.7354086,6.05440415 L11.7354086,3.10880829 Z"
                                                      fill="#FF0000" fill-rule="nonzero"></path>
                                                <path d="M28.982311,7.5 L36.1,7.5 L36.1,24.375 L28.982311,24.375 L28.982311,7.5 Z M1.9,24.375 L9.01768905,24.375 L9.01768905,7.5 L1.9,7.5 L1.9,24.375 Z M11.8784965,24.375 L26.1215035,24.375 L26.1215035,7.5 L11.8784965,7.5 L11.8784965,24.375 Z"
                                                      fill="#1561AC" fill-rule="nonzero"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="submenu submenu-men">
                <div class="submenu-wrapper submenu-wrapper-men">
                    <div class="submenu-main">
                        <div class="submenu-column"><p class="header-column">Clothing</p>
                            <ul>
                                <li><a class="submenu-item" href="#">All
                                    Clothing</a></li>
                                <li><a class="submenu-item" href="#">Denim</a></li>
                                <li><a class="submenu-item" href="/men/hoodie/">Hoodies</a>
                                </li>
                                <li><a class="submenu-item" href="/men/pants/">Pants</a>
                                </li>
                                <li><a class="submenu-item" href="#">Shirts</a></li>
                                <li><a class="submenu-item" href="#">Sweaters &amp; Knitwear</a></li>
                                <li><a class="submenu-item" href="#">T-Shirts</a></li>
                            </ul>
                        </div>
                        <div class="submenu-column"><p class="header-column">Accessories</p>
                            <ul>
                                <li><a class="submenu-item" href="#">All
                                    Accessories</a></li>
                                <li><a class="submenu-item" href="#">Bags</a></li>
                                <li><a class="submenu-item" href="#">Hats</a></li>
                            </ul>
                        </div>
                        <div class="submenu-column"><p class="header-column">Collabs</p>
                            <ul>
                                <li><a class="submenu-item" href="#">OC x Teva</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submenu submenu-women">
                <div class="submenu-wrapper submenu-wrapper-women">
                    <div class="submenu-main">
                        <div class="submenu-column"><p class="header-column">Clothing</p>
                            <ul>
                                <li><a class="submenu-item" href="#">All
                                    Clothing</a></li>
                                <li><a class="submenu-item" href="#">Denim</a></li>
                                <li><a class="submenu-item" href="#">Coates &amp; Jackets</a>
                                </li>
                                <li><a class="submenu-item" href="/women/hoodie/">Hoodies</a>
                                </li>
                                <li><a class="submenu-item" href="/women/pants/">Pants</a>
                                </li>
                                <li><a class="submenu-item" href="#">Skirts</a>
                                </li>
                                <li><a class="submenu-item" href="#">Sweaters &amp; Knitwear</a></li>
                                <li><a class="submenu-item"
                                       href="#">T-Shirts</a></li>
                            </ul>
                        </div>
                        <div class="submenu-column"><p class="header-column">Accessories</p>
                            <ul>
                                <li><a class="submenu-item" href="#">All
                                    Accessories</a></li>
                                <li><a class="submenu-item" href="#">Bags</a></li>
                                <li><a class="submenu-item"
                                       href="#">Hats</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <main class="main">
            <div class="block">{% block body %}{% endblock %}</div>

        </main>
        <footer class="footer">
            <div class="img-container">
                <img class="logo-img" src="{% static 'img/logo.jpg' %}" alt="">
            </div>
            <div class="container">
                <div class="subscribe">
                    <div class="subscribe-info">
                        <h3>Subscribe to newsletter</h3>
                        <p class="privacy">Sign-up for exclusive deals. You may unsubscribe at any time. To find out
                            more please visit our Privacy Policy.</p>
                        <form action="/subscribe/" method="post">{% csrf_token %}
                            <div class="email">
                                <label for="email">EMAIL ADDRESS*</label><br>
                                <input type="email" id="email" name="email" class="form-control">
                            </div>
                            <p class="areyou">Are you?</p>
                            <div class="gender">
                                <div class="some-gender">
                                    <input type="radio" id="women" name="gender">
                                    <label for="women">Women</label>
                                </div>
                                <div class="some-gender">
                                    <input type="radio" id="men" name="gender">
                                    <label for="men">Men</label>

                                </div>
                                <div class="some-gender">
                                    <input type="radio" id="all" name="gender">
                                    <label for="all">All</label>
                                </div>
                            </div>
                            <div class="form-sub">
                                <button type="submit" class="btn-sub">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="about">
                    <nav class="nav">
                        <div class="nav-info">
                            <section class="help">
                                <ul class="help-list">
                                    <li class="help-item"><a href="">FAQs</a></li>
                                    <li class="help-item"><a href="">Customer Service</a></li>
                                    <li class="help-item"><a href="">Terms and Conditions</a></li>
                                    <li class="help-item"><a href="">Privacy Policy</a></li>
                                    <li class="help-item"><a href="">Cookie Preferences</a></li>
                                    <li class="help-item"><a href="">Contact Us</a></li>
                                </ul>
                            </section>
                            <section class="social-networks">
                                <h3>Follow us in social networks</h3>
                                <button type="button"
                                        class="btn btn-social-icon btn-facebook btn-rounded"><i
                                        class="fa fa-facebook"></i></button>
                                <button type="button"
                                        class="btn btn-social-icon btn-youtube btn-rounded"><i
                                        class="fa fa-youtube"></i></button>
                                <button type="button"
                                        class="btn btn-social-icon btn-twitter btn-rounded"><i
                                        class="fa fa-twitter"></i></button>
                                <button type="button"
                                        class="btn btn-social-icon btn-linkedin btn-rounded"><i
                                        class="fa fa-linkedin"></i></button>
                                <button type="button"
                                        class="btn btn-social-icon btn-instagram btn-rounded"><i
                                        class="fa fa-instagram"></i></button>
                            </section>
                        </div>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    let menuElem = document.getElementById('myaccount-dropdown');
    let titleElem = document.querySelector('.account-title');

     titleElem.onclick = function() {
      menuElem.classList.toggle('open');
    };

</script>
<script>
    let menButton = document.querySelector('.dropdown-men');
    let womenButton = document.querySelector('.dropdown-women');

    let womenSubmenu = document.querySelector('.submenu-women');
    let menSubmenu = document.querySelector('.submenu-men');

    let menSubmenuWrapper = document.querySelector('.submenu-wrapper-men');
    let womenSubmenuWrapper = document.querySelector('.submenu-wrapper-women');

    let navbar = document.querySelector('.navbar-nav');
    console.log(navbar);
    womenButton.onmouseover = function(){womenSubmenu.style.display = "block";}
    menButton.onmouseover = function(){menSubmenu.style.display = "block";}

    womenButton.onmouseout = function(){womenSubmenu.style.display = "none";}
    menButton.onmouseout = function(){menSubmenu.style.display = "none";}



    womenSubmenuWrapper.onmouseover = function(){womenSubmenu.style.display = "block";}
    menSubmenuWrapper.onmouseover = function(){menSubmenu.style.display = "block";}

    womenSubmenuWrapper.onmouseout = function(){womenSubmenu.style.display = "none";}
    menSubmenuWrapper.onmouseout = function(){menSubmenu.style.display = "none";}


</script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>

</body>
</html>