{% extends 'base.html' %}

{% block title %}
Cart Page
{% endblock %}

{% load static %}

{% block body %}
<div id="cart">
    <main class="cart-main">
        <div class="cart-wrapper">
            <div class="header-text"><h1 class="cart-header-text">In my tote</h1></div>
            <div class="main-info">
                <div class="cart-info">
                    <ul class="cart-headers">
                        <li class="cart-header-item">Item</li>
                        <li class="cart-header-size">Size</li>
                        <li class="cart-header-qty">Qty</li>
                        <li class="cart-header-price">Price</li>
                    </ul>
                    <ul class="item-list">
                        {% for item in items %}
                        <li class="li-item">
                            <section class="product">
                                <div class="product-text-wrapper">
                                    <div class="img"><a class="" href="/item_detail/{{item.product.id}}/">
                                        <picture ><img
                                                src="{{item.product.imageURL}}"
                                                sizes="400px" loading="lazy" alt="OC BLACK JEANS" class="css-ee6eyo">
                                        </picture>
                                    </a></div>
                                    <div class="product-info"><h2>Opening Ceremony</h2><a
                                            title="{{item.product.name}}"
                                            href="/item_detail/{{item.product.id}}/"><h4 >{{item.product.name}}</h4></a>
                                    </div>
                                    <div class="product-size">
                                        <!--<div data-test="select-wrapper" class="select-wrapper">
                                            <div class="size-select">
                                                <select data-test="select" aria-invalid="false" aria-label="Change the size"
                                                        class="select">
                                                    <option value="19">29</option>
                                                    <option value="22">32</option>
                                                    <option value="23">33</option>
                                                    <option value="24">34</option>
                                                    <option value="26">36</option>
                                                </select>
                                                <svg width="0.75em" height="1em" viewBox="0 0 18 24" fill="currentColor"
                                                     class="select-icon">
                                                    <path d="M12.9025524,20.2857143 L20.7649524,12 L12.9025524,3.71428571 L9.07215238,3.71428571 L14.0785524,8.752 C14.6833524,9.34857143 15.4561524,10.1108571 16.0945524,10.7074286 C14.6497524,10.6742857 14.0113524,10.6742857 13.3393524,10.6742857 L-2.92304762,10.6742857 L-2.92304762,13.3257143 L14.1343336,13.3239665 C14.6193024,13.3210536 15.2125524,13.3132857 16.0945524,13.2925714 C15.4561524,13.8891429 14.6833524,14.552 14.1121524,15.1485714 L9.07215238,20.2857143 L12.9025524,20.2857143 Z"
                                                          transform="translate(8.920952, 12.000000) rotate(-270.000000) translate(-8.920952, -12.000000) "></path>
                                                </svg>
                                            </div>
                                            <div class="css-1uhzvfw"></div>
                                        </div>-->
                                        <p class="text" >{{item.size}}</p>
                                    </div>
                                    <div class="product-qty">
                                        <p class="text">{{item.quantity}}</p>
                                    </div>
                                    <div class="product-price">
                                        <div ><span >${{item.get_total}}</span></div>
                                    </div>
                                    <div class="product-remove">
                                        <button data-size="{{item.size}}" data-product="{{item.product.id}}" data-action="add" class="btn-remove update-cart"><span class="remove-span">Add</span>
                                        </button>
                                    </div>
                                    <div class="product-remove">
                                        <button data-size="{{item.size}}" data-product="{{item.product.id}}" data-action="remove" class="btn-remove update-cart"><span class="remove-span">Remove</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="remove-wrapper">
                                    <div class="product-remove">
                                        <button class="mv-to-wishlist"><span>Move to Wishlist</span></button>
                                    </div>

                                </div>
                            </section>
                            {% endfor %}
                    </ul>
                </div>
                <div>
                    <a id="continue-shopping-widget" href="/">Continue Shopping</a></div>
                </div>
        </div>
    </main>
    <div class="summary-block">
        <div class="summary-wrapper">
            <div class="summary">
                <h1 class="summary-header">Summary</h1>
            </div>
            <div class="summary-info">
                <div class="subtotal">
                    <p class="summary-info-header">Subtotal</p>
                    <p class="price">{{order.get_cart_total}}$</p>
                </div>
                <div class="shipping">
                    <p class="summary-info-header">Shipping</p>
                    <p class="price">0$</p>
                </div>
                <div class="total">
                    <p class="summary-info-header">Total</p>
                    <p class="price"> {{order.get_cart_total}}$</p>
                </div>
            </div>
            <div class="proceed_to_checkout-wrapper">
                <a href="/checkout/" class="proceed_to_checkout"><span class="proceed_to_checkout_text">Proceed to checkout</span></a>
            </div>
        </div>
    </div>
</div>
<script>
    if(document.getElementById('cartItems').innerHTML == 0) {
        document.getElementsByClassName('proceed_to_checkout_text')[0].innerHTML = "Back to shop";
        document.getElementsByClassName('proceed_to_checkout')[0].href = "/";
        document.getElementsByClassName('cart-header-text')[0].innerHTML = "CART IS EMPTY";
}

</script>
{% endblock %}