<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body style="background: black; font-family: futura-pt-n7,futura-pt,Futura PT, Futura Book ,Tahoma,Geneva,Verdana,Arial,sans-serif;">
    <div style=" color: white; background: #333; margin: 30px 20%;padding: 30px 100px;">
        <header>
            <div style="display: flex;">
                <img style="max-width: 70px; max-height: 70px; margin-right: 15px;" src="../static/img/logo.jpg" alt="">
                <h1>Python Project</h1>
            </div>
            <hr>
        </header>
        <main>
            <h1 style="margin-bottom: 20px; line-height: 28px;font-size: 24px;color: #ffffff;font-family: 'Open Sans', Arial,helvetica,sans-serif; letter-spacing: 1px;">You subscribe on our newslatter</h1>
            <p style="margin-bottom: 30px; line-height: 32px;font-size: 16px;color: #ffffff;font-family: 'Open Sans', Arial,helvetica,sans-serif;   letter-spacing: 1px;">
                Thanks for adding your email! To continue shopping, please click the button below.
            </p>

            <div style="text-align: center;">
                <a href="https://vk.com/tabolich.artyom"
                   style="border-radius: 0px;border-width: 0;padding-top: 16px;padding-bottom: 16px;width: 100%;display: inline-block;background: linear-gradient(225.73deg, #75CBBE 0%, #63CA7C 100%), #8DD294;color: #ffffff;font-family: 'Open Sans', Arial, sans-serif;font-size: 16px;outline: 0 none;cursor: pointer;text-decoration: none;letter-spacing: 1px;"
                   target="_blank" rel="noopener noreferrer">Continue Shopping →</a>
            </div>
        </main>
    </div>
</body>
</html>